<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ChiConnect</title>

    <!-- Load Vue -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Load vue-fuse -->
    <script src="https://unpkg.com/fuse.js@7.0.0/dist/fuse.js"></script>

    <!-- Load Bootstrap & Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='styles/index.css') ]]"> -->

    <!-- Pulling api key from jinja -->
    <script>
        var api_key = "[[ api_key ]]";
    </script>

  <script type='text/javascript' src="[[ url_for('static', filename='addBusiness.js') ]]" defer></script>
  <!-- <script type="text/javascript" src="[[ url_for('static', filename='map.js') ]]" defer></script>
  <script type="text/javascript" src="[[ url_for('static', filename='search.js') ]]" defer></script> -->
</head>
<body>
    <div class="row">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="height:5vh;">
                <a class="navbar-brand" href="#">
                    ChiConnect
                </a>
            </div>
        </nav>
    </div>

    <a href="/" class="btn btn-primary" style="margin-left: 1rem; margin-top: 1rem;">
        <i class="bi bi-arrow-left"></i>
    </a>
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Business Details
            </div>
            <div class="card-body">
                <h5 class="card-title">[[ business_info.name ]]</h5>
                <p class="card-text">
                    <strong>Service:</strong> [[ business_info.service ]] <br>
                    <strong>Hours:</strong> Open until [[ business_info.closeTime ]] <br>
                    <strong>Address:</strong> [[ business_info.address ]] <br>
                    <strong>Phone:</strong> [[ business_info.phone ]] <br>
                    
                </p>
                <p class="card-text"><strong>Description:</strong> [[ business_info.description ]]</p>
            </div>
        </div>
    </div>

    <style>
        .unclickable-button {
            pointer-events: none;
        }
    </style>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Ratings
            </div>
            <div class="card-body">
                <h5 class="card-title">👍: <span id="thumbsUpCount">7</span></h5>
                <p class="card-text">
                    <div>
                        <button type="button" class="btn btn-outline-dark mb-3 unclickable-button">Friendly Staff: <span id="friendlyStaffCount">[[ business_info.friendlyStaff ]]</span></button>
                        <button type="button" class="btn btn-outline-dark mb-3 unclickable-button">Cleanliness: <span id="cleanlinessCount">[[ business_info.clean ]]</span></button>
                        <button type="button" class="btn btn-outline-dark mb-3 unclickable-button">Fair Pricing: <span id="fairPricingCount">[[ business_info.fairPricing ]]</span></button>
                        <button type="button" class="btn btn-outline-dark mb-3 unclickable-button">Flexible: <span id="flexibleCount">[[ business_info.flexible ]]</span></button>
                    </div>
                    
                </p>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="card">
            <div class="card-header">
                Leave a Review
            </div>
            <div class="card-body">
                <form id="reviewForm">
                    <div class="mb-3">
                        <label class="form-label">Share your experience and help others!</label>
                        <div>
                            <button type="button" class="btn btn-outline-success me-2" id="thumbsUpButton">👍</button>
                            <button type="button" class="btn btn-outline-danger" id="thumbsDownButton">👎</button>
                        </div>
                    </div>
                    <!-- Add the new buttons corresponding to the ratings section -->
                    <div>
                        <button type="button" class="btn btn-outline-dark mb-3" id="friendlyStaffBtn">Friendly Staff</button>
                        <button type="button" class="btn btn-outline-dark mb-3" id="cleanlinessBtn">Cleanliness</button>
                        <button type="button" class="btn btn-outline-dark mb-3" id="fairPricingBtn">Fair Pricing</button>
                        <button type="button" class="btn btn-outline-dark mb-3" id="flexibleBtn">Flexible</button>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
        </div>
        <!-- <a href="/" class="btn btn-primary">Go Back</a> -->
    </div>

    <script>
        var thumbsUpCount = 7;
        // var thumbsUpCount = Math.floor(Math.random() * 15); // Initial count, you can set it to the initial value you want
        var friendlyStaffCount = 12;
        var cleanlinessCount = 10;
        var fairPricingCount = 2;
        var flexibleCount = 4;
        var reviewSubmitted = false;


        document.getElementById('thumbsUpButton').addEventListener('click', function() {
            this.classList.toggle('btn-success');
            document.getElementById('thumbsDownButton').classList.remove('btn-danger');
        });

        document.getElementById('thumbsDownButton').addEventListener('click', function() {
            this.classList.toggle('btn-danger');
            document.getElementById('thumbsUpButton').classList.remove('btn-success');
        });

        document.getElementById('friendlyStaffBtn').addEventListener('click', function() {
            this.classList.toggle('btn-success');
        });

        document.getElementById('cleanlinessBtn').addEventListener('click', function() {
            this.classList.toggle('btn-success');
        });

        document.getElementById('fairPricingBtn').addEventListener('click', function() {
            this.classList.toggle('btn-success');
        });

        document.getElementById('flexibleBtn').addEventListener('click', function() {
            this.classList.toggle('btn-success');
        });

        document.getElementById('reviewForm').addEventListener('submit', function(e) {
            e.preventDefault();

            if (reviewSubmitted) {
            // If review already submitted, you can display a message or take other actions
                alert("You have already submitted a review!");
                return;
            }

            // Check if at least one rating button is selected
            var ratingButtons = ['thumbsUpButton','thumbsDownButton','friendlyStaffBtn', 'cleanlinessBtn', 'fairPricingBtn', 'flexibleBtn'];
            var ratingSelected = ratingButtons.some(function(buttonId) {
                return document.getElementById(buttonId).classList.contains('btn-success');
            });

            if (!ratingSelected) {
                alert("Please select at least one rating before submitting.");
                return;
            }

            // Update the Thumbs Up count based on button states
            thumbsUpCount += document.getElementById('thumbsUpButton').classList.contains('btn-success') ? 1 : 0;
            thumbsUpCount -= document.getElementById('thumbsDownButton').classList.contains('btn-danger') ? 1 : 0;

            friendlyStaffCount += document.getElementById('friendlyStaffBtn').classList.contains('btn-success') ? 1 : 0;
            cleanlinessCount += document.getElementById('cleanlinessBtn').classList.contains('btn-success') ? 1 : 0;
            fairPricingCount += document.getElementById('fairPricingBtn').classList.contains('btn-success') ? 1 : 0;
            flexibleCount += document.getElementById('flexibleBtn').classList.contains('btn-success') ? 1 : 0;


            // Display the updated count
            document.getElementById('thumbsUpCount').innerText = thumbsUpCount < 0 ? 0 : thumbsUpCount;

            document.getElementById('friendlyStaffCount').innerText = friendlyStaffCount < 0 ? 0 : friendlyStaffCount;
            document.getElementById('cleanlinessCount').innerText = cleanlinessCount < 0 ? 0 : cleanlinessCount;
            document.getElementById('fairPricingCount').innerText = fairPricingCount < 0 ? 0 : fairPricingCount;
            document.getElementById('flexibleCount').innerText = flexibleCount < 0 ? 0 : flexibleCount;

            document.getElementById('thumbsUpButton').classList.remove('btn-success');
            document.getElementById('thumbsDownButton').classList.remove('btn-danger');
            document.getElementById('friendlyStaffBtn').classList.remove('btn-success');
            document.getElementById('cleanlinessBtn').classList.remove('btn-success');
            document.getElementById('fairPricingBtn').classList.remove('btn-success');
            document.getElementById('flexibleBtn').classList.remove('btn-success');

            // Mark review as submitted
            reviewSubmitted = true;

            var review = document.getElementById('thumbsUpButton').classList.contains('btn-success') ? 'thumbsUp' :
                        document.getElementById('thumbsDownButton').classList.contains('btn-danger') ? 'thumbsDown' : '';
            console.log('Review submitted:', review);
        });


    </script>
</body>
</html>