<!DOCTYPE html>
<html>
<head>
    <title>ChiConnect</title>
    
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='styles/index.css') ]]">
    <script>
        var api_key = "[[ api_key ]]";
    </script>
    <script type='text/javascript' src="[[ url_for('static', filename='index.js') ]]" defer></script>
    
</head>
<body>
    <div id="myMap"></div>
</body>
</html>