body{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:'Segoe UI',Helvetica,Arial,Sans-Serif
}

#searchForm {
    font-family: 'Courier New', Courier, monospace;
}

#mapOverlay {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures the overlay is above the map */
}

#addBusinessButton {
    padding: 10px 20px;
    background-color: #0078d4; /* Bing Maps blue, for example */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.business-option-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 5px;
}

.business-option-button:hover {
    background-color: #0056b3;
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: #e7e7e7;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.small-button {
    padding: 5px 10px; /* smaller padding */
    font-size: 12px; /* smaller text */
    height: auto; /* you can set a specific height if you want */
    width: auto; /* you can set a specific width if you want */
  }


  .location-button {
    margin-left: 10px; /* Horizontal spacing between the buttons */
    background-color: #4CAF50; /* New color for the location button */
    color: white; /* Text color for the location button */
    /* Additional styling can be added here */
  }